* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
}


.navbar {
    background-color: #07598c;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav_cont {
    display: flex;
    align-items: baseline;
    margin-inline: 5%;
    height: 40px;
    width: 100%;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.nav_links {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav_link {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.nav_link::after {
    content: '';  /* Não precisa de texto */
    position: absolute;
    bottom: 0;    /* Coloca a linha na parte inferior do link */
    left: 0;      /* Alinha a linha à esquerda */
    width: 0;     /* Inicialmente a linha tem largura 0 */
    height: 2px;  /* Espessura da linha */
    background-color: #fff;  /* Cor da linha (igual à cor do texto) */
    transition: width 0.3s ease;  /* Transição suave para aumentar a largura */
}

/* Quando o link for hover, a linha se expande */
.nav_link:hover::after {
    width: 100%;   /* A linha se expande até a largura total do link */
}

.banner {
    height: 400px;
    background-color: #fff;
    border-radius: 0 0 25vh 0;
    box-shadow: 0px 20px 20px #b9b9b9;
}

.cont_banner {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 2%;
}

.cont_1 {
    width: 70%;
}

.img_banner {
    width: 320px;
    height: 320px;
    border-radius: 20%;
    background-image: url(img/img_banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cont_card {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.card_ind {
    width: 220px;
    height: 220px;
    border: 2px solid black;
    opacity: 0;
    transform: translateY(300px);
    border-radius: 20px;
}

@keyframes card_ind {
    from {
        opacity: 0;
        transform: translateY(300px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card_ind:nth-child(1) {
    animation: card_ind 3s ease forwards;

}

.card_ind:nth-child(2) {
    animation: card_ind 3.5s ease forwards;

}

.card_ind:nth-child(3) {
    animation: card_ind 4s ease forwards;

}

.sobre {
    height: 300px;
    margin-block: 150px;
    background-color: #07598c;
    box-shadow: 0 0 40px 50px #07598c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre div {
    width: 75%;
}

.sobre img {
    box-shadow: 0 0 15px 15px #fff;;
}

footer {
    background-color: #07598c;
    height: 60px;
    display: flex;
    align-items: center;
}

.white {
    color: white;
}

.xx-large {
    font-size: xx-large;
}

.pi-5 {
 padding-inline: 5%;
}












.container_artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 5%;
    margin-top: 3%;
}

.card-art {
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    border: 2px solid #07598c;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
}

.card-body h5 {
    font-size: 20px;
    margin: 0;
}

.card-button {
    border: 2px solid #07598c;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    background-color: #fff;
    color: #07598c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.5s ease;
}

.card-button:hover {
    background-color: #07598c;
    color: #fff;
}

@media screen and (max-width: 1014px) {
    .img_banner {
        display: none;
    }
    .cont_1 {
        width: 100%;
    }
}



