* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
}


.navbar {
    background-color: #07598c;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav_cont {
    display: flex;
    align-items: baseline;
    margin-inline: 5%;
    height: 40px;
    width: 100%;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.nav_links {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav_link {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.nav_link::after {
    content: '';  /* Não precisa de texto */
    position: absolute;
    bottom: 0;    /* Coloca a linha na parte inferior do link */
    left: 0;      /* Alinha a linha à esquerda */
    width: 0;     /* Inicialmente a linha tem largura 0 */
    height: 2px;  /* Espessura da linha */
    background-color: #fff;  /* Cor da linha (igual à cor do texto) */
    transition: width 0.3s ease;  /* Transição suave para aumentar a largura */
}

/* Quando o link for hover, a linha se expande */
.nav_link:hover::after {
    width: 100%;   /* A linha se expande até a largura total do link */
}

.dropdown {
    position: absolute;
    z-index: 999;
    display: none;
    background: #07598c;
    padding-inline: 10px;
    border-radius: 15px;
}

.dropdown li {
    display: block;
    margin-block: 20px;
}

ul li:hover ul.dropdown {
    display:block;
}

ul.dropdown:hover {
    height: 140px;
}

.banner {
    height: 400px;
    background-color: #fff;
    border-radius: 0 0 25vh 0;
    box-shadow: 0px 20px 20px #b9b9b9;
}

.cont_banner {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 2%;
}

.cont_1 {
    width: 70%;
}

.img_banner {
    width: 320px;
    height: 320px;
    border-radius: 20%;
    background-image: url(img/img_banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cont_card {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
.sobre {
    height: 300px;
    margin-block: 100px;
    background-color: #07598c;
    box-shadow: 0 0 40px 50px #07598c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre div {
    width: 75%;
}

.sobre img {
    box-shadow: 0 0 15px 15px #fff;
    border-radius: 30px;
    background-color: #fff;
}

footer {
    background-color: #07598c;
    height: 60px;
    display: flex;
    align-items: center;
}

.white {
    color: white;
}

.xx-large {
    font-size: xx-large;
}

.pi-5 {
 padding-inline: 5%;
}












.container_artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 5%;
    margin-top: 3%;
}

.card-art {
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    border: 2px solid #07598c;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
}

.card-button {
    border: 2px solid #07598c;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    background-color: #fff;
    color: #07598c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.5s ease;
}

.card-title {
    color: #07598c;
    font-size: 20px;
    margin: 0;
}

.card-text {
    color: #07598c;;
}


.card-button:hover {
    background-color: #07598c;
    color: #fff;
}

@media screen and (max-width: 1014px) {
    .img_banner {
        display: none;
    }
    .cont_1 {
        width: 100%;
    }
}

/*  Calculadora */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #07598c;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #07598c;
}

.resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}



.container_artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 5%;
}

.card {
    width: 15rem;
    margin-bottom: 30px;
}

.navbar-expand-lg {
    padding-inline: 1.9%;
}

.alin-nav-art{
    justify-content: space-between;
    align-items: center;
    margin-inline: 3%;
    margin-top: 1%;
}

.filtro {
    list-style: none;
    float: left;
    margin-bottom: 0;
}

.conteudo-artigo{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

.artigo-autor a {
 text-decoration: none;
 color: #000000;
}

.texto-e-sugestoes {
    display: flex;
}

.artigo-texto {
    margin-right: 5%;
}

.artigo-texto a {
    text-decoration: none;
}

.artigo-sugestoes{
    margin-top: 100px;
}

